# === Mailversand mit mailanbieter ===
EMAIL_USER=user@domain.de
EMAIL_PASSWORD=xxx
EMAIL_TO=org@domain.de
EMAIL_FROM=org@domain.de
EMAIL_HOST=smtp.domain.de

# === DEV Banner ===
SHOW_DEV_BANNER=true

# === NEWS Banner ===
SHOW_NEWS_BANNER=true

# === Impressum Data ===
IMPRESSUM_ORGANIZATION="Neue Lernkultur Jetzt!"
IMPRESSUM_NAME="Name"
IMPRESSUM_STREET="Street"
IMPRESSUM_CITY="City"
IMPRESSUM_COUNTRY="Deutschland"
IMPRESSUM_PHONE="Phone"
IMPRESSUM_EMAIL="E-Mail-Adresse"

# === Rocket Chat ===
ROCKETCHAT_WEBHOOK_URL="https://dein-rocketchat-server.de/hooks/XXX"
