@import "tailwindcss";

@theme {
    --color-accent: #f39c12;
    --color-background: #f0ead4;
    --color-neutral: #ffffff;
    --color-primary: #2c3e50;
    --color-secondary: #3498db;
    --color-text: #333333;
}

@layer base {
    h1 {
        font-family: var(--font-poppins), serif;
        font-size: 4rem;
        font-weight: 600;
        line-height: 1.2;
        @apply mt-5 mb-5;
        @apply break-words;
        @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl leading-tight font-bold;
    }

    h2 {
        font-family: var(--font-poppins), serif;
        font-size: 1.6rem;
        font-weight: 600;
        line-height: 1.2;
        @apply  mb-3;
        @apply break-words;
        @apply text-xl sm:text-2xl md:text-3xl lg:text-4xl font-semibold;
    }

    p {
        font-family: var(--font-roboto), serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.2;
        @apply my-2;
        @apply break-words;
        @apply text-base sm:text-lg md:text-lg leading-relaxed;
    }

    ul {
        @apply list-disc list-inside pl-6 my-4;
    }

    ol {
        @apply list-decimal pl-6 my-4;
    }

    li {
        @apply mb-2 leading-relaxed;
    }
}

@layer components {
    .card {
        @apply rounded-lg bg-white p-2;
    }

    .innerBox {
        @apply
        w-full
        max-w-screen-2xl
        mx-auto
        px-5
        sm:px-10
        md:px-16
        py-5;
    }
}

body {
    background: var(--color-background);
    color: var(--color-text);
    font-family: Arial, Helvetica, sans-serif;
}


blockquote {
    position: relative;
    padding-left: 2em;
    font-weight: 300;
    font-style: italic;
    line-height: 1.5;
    text-align: center;
    margin-top: 20px;
}

blockquote::before {
    content: "“";
    font-size: 3em;
    position: absolute;
    left: 0;
    top: -10px;
}

blockquote cite {
    display: block;
    margin-top: 1em;
    font-size: 0.9em;
    text-align: right;
    color: var(--color-secondary);
}

